[Unit]
Description=Power Monitor - pull power monitoring data from RPi daughter board, process and publish via MQTT
After=network.target

[Service]
WorkingDirectory=/var/opt/PowerMonitor
SyslogIdentifier=PowerMonitor
ExecStart=/bin/sh -c "exec sudo java -Xms50m -jar /opt/PowerMonitor/Software/deployment/PowerMonitor.jar -m 10.0.128.2 -i 5 -c PMon10"
User=root
Type=simple

[Install]
WantedBy=multi-user.target